
@model LoginVM
@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Login Account";
}


<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Email"></label>
    <input asp-for="Email" autofocus>
    <span asp-validation-for="Email"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password">
    <span asp-validation-for="Password"></span>

    <br>
    <label>
        <input asp-for="RememberMe">Remember Me
    </label>
    <br>

    <section>
        <button>Login</button>
        <button type="reset">Reset</button>
    </section>
</form>

<a href="/Account/ForgetPassword">Forget Password?</a>