
@{
    Layout = "../Shared/_Layout";
    ViewBag.Title = "Login Account";
}


@* Login Page //TO DO*@
<p>
    [ <a href="/Member/Register">Register</a> |
    <a href="/Member/ResetPassword">Reset Password</a> ]
</p>